# Basically put anything here that is not necessary for the build AND
# also those which when change you do not want to invalidate the Docker cache
.env
.git
.next
# Node
npm-debug.log*
yarn-debug.log*

node_modules/
test
.github
.env.example
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.prettierrc
app.json
docker-compose.prod.yml
docker-compose.yml
heroku.yml
jest.config.js
LICENSE
README.md
docs